<% layout('layout') -%>
<% stylesheet('/styles/index.css') -%>

<div class="container">
  <div class="hero-unit">
    <h1>'Allo, 'Allo!</h1>
    <p>You now have</p>
    <ul>
      <li>HTML5 Boilerplate</li>
    </ul>
    <p>installed.</p>
    <h3>Enjoy coding! - <%= config.site.name %></h3>
  </div>
</div>
